.wrapper {
  --item-padding: calc(var(--space-1) * 3);
  --item-line-height: var(--space-8);
  display: flex;
  position: relative;
}

.indicator {
  --indicator-height: var(--space-1);
  --indicator-dot-shift: var(--space-2);
  --indicator-dot-radius: 3px;
  --indicator-shift: calc(
    var(--item-indicator-depth-width) + var(--indicator-dot-shift)
  );

  position: absolute;
  top: calc(var(--indicator-height) / -2);
  height: var(--indicator-height);
  margin-left: var(--indicator-shift);
  width: calc(100% - var(--indicator-shift));
  background: var(--color-accent);

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: var(--indicator-dot-radius);
    height: var(--indicator-dot-radius);
    border-radius: 50%;
    left: calc(
      var(--indicator-dot-shift) * -1 - var(--indicator-dot-radius) / 2
    );
    background: var(--color-accent);
  }
}

.item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: var(--item-padding);
  border: none;
  background: none;
  border-radius: var(--radius-m);

  font-size: 15px;
  line-height: var(--item-line-height);

  &:where(:hover, :focus-visible) {
    background: rgba(0, 0, 0, 0.1);
    outline: none;
  }
}

.depthSpacer {
  position: relative;
  height: 100%;

  &::after {
    content: "";
    position: absolute;
    width: 1px;
    top: calc(var(--item-padding) * -1);
    bottom: calc(var(--item-padding) * -1);
    right: calc(var(--item-depth-width) / 3);
    background: var(--color-borders);
  }

  /* .item:where(:hover, :focus-visible) &::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 3px;
    right: -1px;
    top: calc(var(--item-line-height) / 2 - 1px);
    background: var(--color-secondary);
    border-radius: 50%;
  } */
}

.startAdornment {
  margin-right: var(--space-2);
  line-height: 0;
}

.label {
  text-overflow: ellipsis;
  overflow: hidden;
  margin-right: var(--space-2);
  color: var(--color-primary);
}
