.container {
  position: absolute;
  right: calc(var(--space-1) * 3);
  left: calc(var(--space-1) * 3);
  display: flex;
  z-index: 10;
}

.dot {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: "";
    transform: translate(
      calc(var(--indicator-dot-size) / 2 * 1px),
      calc((var(--indicator-height) - var(--indicator-dot-size)) / 2 * 1px)
    );
    height: calc(var(--indicator-dot-size) * 1px);
    width: calc(var(--indicator-dot-size) * 1px);
    border-radius: var(--radius-circle);
    background: var(--color-accent);
  }

  &.isLevelOnly::before {
    background: var(--color-borders);
  }
}

.line {
  flex-grow: 1;
  height: calc(var(--indicator-height) * 1px);
  background: var(--color-accent);
}
