.isDragging {
  opacity: 0.5;
}

.isSorting {
  pointer-events: none;
}

.isOverMiddle {
  background: rgba(222, 222, 222, 0.75);
}

/* .isOverTop {
  background: rgba(0, 87, 183, 0.5);
}


.isOverBottom {
  background: rgba(255, 215, 0, 0.5);
} */

.isOverlay {
  background: none;
}

.overlaySpacer {
  opacity: 0;
}
